---
import HtmlWrapper from '../layouts/HtmlWrapper.astro';
---
<HtmlWrapper>
  <main class="flex justify-center align-middle">
    <h1 class="text-4xl">404!</h1>
    <h4 class="text-xl">Soon to have it's own layout</h4>
  </main>
</HtmlWrapper>
