---
import _ from 'lodash';
const { map } = _;
import { getCategory } from '../graphql';
import type { CategoryAndPosts } from '../graphql/categories/types';
import HtmlWrapper from '../layouts/HtmlWrapper.astro';
import Section from '../layouts/Section.astro';
import Navigation from '../components/Navigation.astro';

const categorySlug = Astro.url.pathname.replace(/^\/|\/$/g, '');

let category: CategoryAndPosts = {} as CategoryAndPosts;

try {
  category = await getCategory(categorySlug);
} catch (e: any) {
  console.debug(e?.message);
}

const {
  name = '',
  posts = []
} = category;

---
<HtmlWrapper>
  <Navigation />
  <main class="flex flex-col justify-center align-middle mx-8">
    {map(posts, ({title, content, excerpt}) => <Section title={title} content={content} excerpt={excerpt} />)}
  </main>
</HtmlWrapper>
