---
import HtmlWrapper from '../layouts/HtmlWrapper.astro';
import Readme from '../layouts/Readme.astro';
import Navigation from '../components/Navigation.astro';

const readmeGlob = await Astro.glob("/README.md");
const { Content: ReadmeContent } = (Array.isArray(readmeGlob) ? readmeGlob[0] : readmeGlob);

export function getStaticPaths() {
	return [
		{params: { path: undefined } }, // undefined matches root https://docs.astro.build/en/guides/routing/#rest-parameters
  ];
}

---
<HtmlWrapper>
	<Navigation />
	<main>
		<Readme>
			<ReadmeContent />
		</Readme>
	</main>
</HtmlWrapper>
