.DS_Store
.idea
.env
.env.sample
.git
.gitignore
**/.gitignore
.gitkeep
LICENSE
VERSION
README.md
Changelog.md
docker-compose.*.yml
**/node_modules
astro/dist
astro/.vscode
astro/README.md
astro/yarn.lock
