---
import { getCategories } from '../graphql';
import type { Category } from '../graphql/categories/types';

let fetchedCategories: Category[] = [];

try {
  fetchedCategories = await getCategories();
} catch (e: any) {
  console.debug(e?.message);
}

const categories: Category[] = [{
  id: '/',
  name: 'Home',
}].concat(fetchedCategories);
---
<nav class="text-slate-500 dark:text-slate-200">
  <ul class="flex main-navigation">
    {categories.map(({name, id}) => <li class="p-4 ml-2 block">
      <a href={id} class={`cursor-pointer`}>
        {name}
      </a>
    </li>)}
  </ul>
</nav>
